header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-gap: 0;
    font-size: 18px;
    padding: 94px 0 38px 36px;
    justify-items: center;
    align-items: center;
    max-width: 100%;
}

.header__logo {
    margin-left: 6px;
    margin-top: 5px;
    width: 148px;
    height: 105px;
}

a {
    color: black;
    text-underline-position: under;
}

.menu-list {
    padding: 0;
}

.header__menu-list {
    display: flex;
    gap: 33px;
    list-style-type: circle;
    margin: 0 auto;
    padding-bottom: 4px;
}

.menu-active-item {
    list-style-type: none;
    margin: auto;
    a {
        text-decoration: none;
    }
}

.header__contacts {
    max-width: 240px;
    margin-left: 130px;
    padding-left: 12px;
    margin-bottom: 3px;
}

.contacts {
    font-style: normal;
    display: flex;
    flex-direction: column;
}

.contacts-item {
    margin: 0;
    line-height: 24.3px;
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url("../images/lotus-flower.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.content {
    position: relative;
    z-index: 2;
}

.cover__title {
    margin: 165px 50px 106px 50px;
}

.cover__title-element span {
    font-weight: bold;
    letter-spacing: 30px;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 115%;
    margin: 20px 0;
    display: flex;
}

.cover__title span:nth-child(1) {
    align-content: flex-start;
    justify-content: flex-start;
}

.cover__title span:nth-child(2) {
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
}

.cover__title span:nth-child(3) {
    align-content: flex-end;
    justify-content: flex-end;
    margin-right: -30px;
}

.cover__description-wrapper {
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 22px;
    justify-content: space-between;
    align-items: center;
}


.cover__description {
    word-spacing: 18.5px;
    margin-bottom: 2px;
}

.cover__description-subline {
    margin: 0;
}

.cover__custom-bet-button {
    display: block;
    text-decoration: none;
    border: solid 1px white;
}

.cover__custom-bet-button-text {
    color: white;
    font-weight: 500;
    margin: 12px 32px;
}

.lots {
    margin: 180px 24px 120px 24px;
}

.lots__section-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    padding-left: 40px;
    margin: 0 auto;
}

.lots__list {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 27px 0 30px 0;
    flex-wrap: wrap;
    a {
        text-decoration: none;
    }
}

.lots__item {
    position: relative;
    background-repeat: no-repeat;
    background-size: 334px 596px;
}

.lots__item.first-item {
    background-image: url("../images/first-lot.png");
}

.lots__item.second-item {
    background-image: url("../images/second-lot.jpg");
}

.lots__item.third-item {
    background-image: url("../images/third-lot.png");
}

.lots__lot-wrapper {
    max-width: 334px;
    min-height: 596px;
    color: white;
    display: flex;
    flex-direction: column;
}

.lots__lot-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.lots__lot-title {
    text-transform: uppercase;
    text-decoration: underline;
    margin: 48px 40px auto 40px;
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
}

.lots__lot-description {
    font-size: 20px;
    margin: auto 40px 48px 40px;
    line-height: 120%;
}

.lots__see-more {
    font-size: 20px;
    padding-left: 40px;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2px 24px;
}

.about__logo {
    padding: 32px 72px 0 47px;
}

.about__logo-element {
    width: 240px;
    height: 240px;
}

.about__about-column {
    padding: 133px 0 13px 0;
}

.about__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    margin: 1px auto;
    padding-top: 2px;
}

.about__description-wrapper {
    min-width: 693px;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 86px;
}

.about__description-text {
    font-size: 20px;
    margin: 12px auto;
    line-height: 24px;
}

footer {
    margin-top: 155px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    padding: 0 50px;
    font-size: 18px;
    line-height: 115%;
}

.footer__contacts {
    max-width: 265px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.footer__menu-item {
    list-style-type: none;
}

.footer__socials {
    justify-self: flex-end;
    a {
        text-decoration: none;
    }
}

.footer__socials-item {
    margin-left: 43px;
    width: 48px;
    height: 48px;
}
